@import "../../../assets/styles/variables";

.app-header {
  $logo-wrapper-height: ($header-height / 2);
  $nav-wrapper-height: $logo-wrapper-height - 40px;

  position: relative;
  z-index: 99;

  &__logo-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    height: $logo-wrapper-height;
    background: $color-android-green;
  }

  &__nav-wrapper {
    display: grid;
    grid-template-columns: 1fr $header-height 1fr;
    height: $nav-wrapper-height;
    margin-bottom: $logo-wrapper-height - $nav-wrapper-height;
    background: $color-light-gray;

    @media only screen and (max-width: $breakpoint-small-max) {
      grid-template-columns: 1fr;
    }

    &--left, &--right {
      padding: 0 30px;

      @media only screen and (max-width: $breakpoint-small-max) {
        display: none;
      }
    }

    &--left {
      text-align: right;
    }

    &--right {
      grid-column-start: 3;
      text-align: left;
    }
  }

  &__nav-item {
    font-size: 1.25em;
    line-height: $nav-wrapper-height;
    color: $color-gray;
    margin: 0;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}
