@import '../../../assets/styles/variables';

.headline {

  &--color {

    &-white {
      color: $color-white;
    }
  }

  &--font-type {

    &-serif {
      font-family: $default-font;
    }

    &-sans-serif {
      font-family: $default-font;
    }
  }

  &--weight {

    &-bold {
      font-weight: bold;
    }
  }

  &--no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}
