@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.product-card {
  $product-card-border-radius: $default-border-radius * 3;
  $product-card-footer-height: 56px;

  @include box-shadow-outside(0, 0, 50px, 30px, rgba($color-black, 0.05));

  position: relative;
  margin: 30px;
  padding-bottom: $product-card-footer-height;
  border-radius: $product-card-border-radius;
  background: $color-white;

  &__body {
    text-align: center;
    padding: 30px;
  }

  &__product-image-wrapper {
    display: flex;
    justify-content: center;
  }

  &__product-category-wrapper {
    font-size: 1.25em;
  }

  &__product-price-wrapper {
    font-size: 2em;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: $product-card-footer-height;
    background: $color-bara-red;
    border-bottom-left-radius: $product-card-border-radius;
    border-bottom-right-radius: $product-card-border-radius;
  }
}
