@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

$product-card-border-radius: $default-border-radius * 3;
$product-card-padding-bottom: 50px;

.product-card {

  @include box-shadow-outside(0, 0, 50px, 30px, rgba($color-black, 0.05));

  position: relative;
  margin: 30px;
  padding-bottom: 50px;
  border-radius: $product-card-border-radius;
  background: $color-white;

  &__body {
    text-align: center;
    padding: 15px;
  }

  &__product-image-wrapper {
    display: flex;
    justify-content: center;
  }

  &__product-category-wrapper {
    font-size: 1.25em;
  }

  &__product-price-wrapper {
    font-size: 2em;
  }
}
