@import "../../../assets/styles/variables";

.icon {
  width: 20px;
  height: 20px;
  border-radius: $border-radius-rounded;

  &::before {
    line-height: 20px;
  }

  &--color {

    &-white {
      color: $color-white;
    }
  }

  &--background-color {

    &-white {
      background-color: $color-white;
    }

    &-transparent {
      background-color: $color-transparent;
    }
  }
}
