@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.app-header {
  @include linear-gradient(
    to right,
    $color-cotton-candy,
    $color-minted,
    $color-sunshine,
    $color-peachy,
    $color-fluff
  );

  display: flex;
  height: $header-height;
  padding: 20px;
  text-align: center;

  &__logo {
    height: 200px;
  }
}
