@import "../../../assets/styles/variables";

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  padding: 5px 15px;

  &__counter-button {
    padding: 0;
  }

  &__counter-score {
    margin: 0 10px;

    &--color {

      &-white {
        color: $color-white;
      }
    }
  }
}
