/* stylelint-disable */

//****************************** COLORS ******************************//

$color-transparent: transparent;
$color-white: #ffffff;
$color-light-gray: #F0F0F0;
$color-gray: #83878d;
$color-black: #000000;

$color-sunflower: #FFC312;
$color-radiant-yellow: #F79F1F;
$color-puffins-bill: #EE5A24;
$color-red-pigment: #EA2027;

$color-energos: #C4E538;
$color-android-green: #A3CB38;
$color-pixelated-green: #009432;
$color-turkish-aqua: #006266;

$color-blue-martina: #12CBC4;
$color-mediterranean-sea: #1289A7;
$color-merchant-marine-blue: #0652DD;
$color-leagues-under-the-sea: #1B1464;

$color-lavender-rose: #FDA7DF;
$color-lavender-tea: #D980FA;
$color-forgotten-purple: #9980FA;
$color-circumorbital-ring: #5758BB;

$color-bara-red: #ED4C67;
$color-very-berry: #B53471;
$color-hollyhock: #833471;
$color-magenta-purple: #6F1E51;

$color-primary: $color-android-green;
$color-secondary: $color-bara-red;

//HOVER
$color-hover-darken: 10%;

$color-transparent-hover: rgba($color-white, 0.2);
$color-white-hover: darken($color-white, $color-hover-darken);
$color-gray-hover: darken($color-gray, $color-hover-darken);
$color-black-hover: lighten($color-black, $color-hover-darken);

$color-sunflower-hover: darken($color-sunflower, $color-hover-darken);
$color-radiant-yellow-hover: darken($color-radiant-yellow, $color-hover-darken);
$color-puffins-bill-hover: darken($color-puffins-bill, $color-hover-darken);
$color-red-pigment-hover: darken($color-red-pigment, $color-hover-darken);

$color-energos-hover: darken($color-energos, $color-hover-darken);
$color-android-green-hover: darken($color-android-green, $color-hover-darken);
$color-pixelated-green-hover: darken($color-pixelated-green, $color-hover-darken);
$color-turkish-aqua-hover: darken($color-turkish-aqua, $color-hover-darken);

$color-blue-martina-hover: darken($color-blue-martina, $color-hover-darken);
$color-mediterranean-sea-hover: darken($color-mediterranean-sea, $color-hover-darken);
$color-merchant-marine-blue-hover: darken($color-merchant-marine-blue, $color-hover-darken);
$color-leagues-under-the-sea-hover: darken($color-leagues-under-the-sea, $color-hover-darken);

$color-lavender-rose-hover: darken($color-lavender-rose, $color-hover-darken);
$color-lavender-tea-hover: darken($color-lavender-tea, $color-hover-darken);
$color-forgotten-purple-hover: darken($color-forgotten-purple, $color-hover-darken);
$color-circumorbital-ring-hover: darken($color-circumorbital-ring, $color-hover-darken);

$color-bara-red-hover: darken($color-bara-red, $color-hover-darken);
$color-very-berry-hover: darken($color-very-berry, $color-hover-darken);
$color-hollyhock-hover: darken($color-hollyhock, $color-hover-darken);
$color-magenta-purple-hover: darken($color-magenta-purple, $color-hover-darken);

$color-primary-hover: darken($color-primary, $color-hover-darken);
$color-secondary-hover: darken($color-secondary, $color-hover-darken);

//****************************** FONTS ******************************//

$default-font: 'Patrick Hand SC';
$font-handwriting: 'Rochester';

$default-font-weight-light: normal;
$default-font-weight-bold: bold;

$default-font-color: $color-black;
$default-font-size: 16px;

//****************************** GENERAL ******************************//

// BODY //
$body-width: 100%;
$body-height: $body-width;
$body-min-height: 100vh;
$body-color: $color-black;
$body-background-color: $color-white;

// ELEMENT-PROPERTIES //
$default-border-radius: 3px;
$border-radius-none: 0;
$border-radius-rounded: 50%;

// CONTENT //
$content-flex: 1 0 0;

//****************************** MIXINS ******************************//

$default-box-shadow-color: rgba($color-black, 0.3);
$default-box-shadow-offset-x: 0;
$default-box-shadow-offset-y: 0;
$default-box-shadow-blur-radius: 10px;
$default-box-shadow-spread-radius: 0;

//****************************** USER EXPERIENCE (UX) ******************************//

// Header
$header-height: 220px;

/* stylelint-enable */
